.sidenav {
    width: 11%;
    position: absolute;
    z-index: 1;
    top: 150px;
    right: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    cursor: grab
  }

  .wrapper{
    display: flex;
    justify-content: space-between;
  }
  
  .lesson{
    justify-content: center;
  }

  .video{
    width: 800px
  }