.title{
    padding:2%;
    background-color: #ffb606 !important;
    width: 100%;
}

.jumbotron_bg {
    background-color:#ffb606 !important;
}

.courses_bg{
    background-color: #fffaf0 !important;
}