@media (prefers-color-scheme: dark) {
  .title {
    padding: 2%;
    background-color: #9e9e9e !important;
    width: 100%;
  }

  .jumbotron_bg {
    background-color: #9e9e9e !important;
  }

  .courses_bg {
    background-color: #ffffff !important;
  }
}

@media (prefers-color-scheme: light) {
  .title {
    padding: 2%;
    background-color: #ffb606 !important;
    width: 100%;
  }

  .jumbotron_bg {
    background-color: #ffb606 !important;
  }

  .courses_bg {
    background-color: #fffaf0 !important;
  }
}

@media (prefers-color-scheme: no-preference) {
  .title {
    padding: 2%;
    background-color: #ffb606 !important;
    width: 100%;
  }

  .jumbotron_bg {
    background-color: #ffb606 !important;
  }

  .courses_bg {
    background-color: #fffaf0 !important;
  }
}
