@media (prefers-color-scheme: dark) {
  .Container {
    padding: 3%;
    background-color: #9e9e9e !important;
  }
}

@media (prefers-color-scheme: light) {
  .Container {
    padding: 3%;
    background-color: #eaebec !important;
  }
}

@media (prefers-color-scheme: no-preference) {
  .Container {
    padding: 3%;
    background-color: #eaebec !important;
  }
}

.bar {
  width: 250px;
}
