@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700");

a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
}

.alert {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  vertical-align: middle;
  background: #ffb606;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
.alert a {
  line-height: 25px;
  display: block;
  font-size: 15px;
  font-weight: 700;
}
