<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}\..\logs\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>

    <target xsi:type="File" name="allfile" fileName="${basedir}\..\logs\all\nlog-all-${shortdate}.log"
            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="ownFile-web" fileName="${basedir}\..\logs\own\nlog-own-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target xsi:type="File" name="EFfile" filename="${basedir}\..\logs\EF\nlog-EF-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="errorfile" filename="${basedir}\..\logs\errors\nlog-errors-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="sqlcommandsfile" filename="${basedir}\..\sqlcommands\nlog-sqlcommands-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

  </targets>

  <rules>
    <logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Trace" writeTo="sqlcommandsfile"/>
    <logger name="*" minlevel="Error" writeTo="errorfile"/>
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Info" writeTo="EFfile"/>

    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>